@use '../global/global.scss' as G;

.c-work {
    background-color: aliceblue;
    &_wrapper {
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        flex-wrap: wrap;
        padding: 20px 5px;
    }
}
