@use '../global/global.scss' as G;

.c-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid green;
  //   background-color: G.$primary-background-color;
  background: transparent;
}
