@use '../global/global.scss' as G;

.c-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  
 
  &.initial{
    background: transparent;
    color: G.$text-tertiary-color;
  }

  &.scrolled{
    background-color: G.$primary-background-color;
    border-bottom: 1px solid #2a364345;
    color: G.$text-primary-color;
  }
}
